<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="blog.mapper.BlogMapper">

    <resultMap id="titleMap" type="blog.bean.Options">
        <result column="title" property="value"/>
        <result column="title" property="label"/>
    </resultMap>

    <insert id="insertBlogInfo">
        insert into blog(title,parent)value (#{title},#{parent})
    </insert>

    <select id="getClassify" resultMap="titleMap">
        select title from blog where parent = 0 and deleted = 0
    </select>

    <select id="getSubtitle" resultMap="titleMap">
        select title from blog where parent in (select id from blog where parent = 0 and deleted = 0)
    </select>


    <select id="getSubtitleByClassifyId" resultMap="titleMap">
        select title from blog where parent = #{parent} and deleted = 0
    </select>


    <select id="getTitleId" resultType="int">
        select id from blog where title= #{title} and deleted = 0
    </select>


    <select id="getTitle" resultType="string">
        select title from blog where parent = #{parent} and deleted = 0
    </select>
</mapper>